{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}Django Web Scraping Example{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <header>
        <!-- Fixed navbar -->
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4\
     bg-white border-bottom shadow-sm">
            <a href="{% url 'home' %}" class="navbar-brand my-0 mr-md-auto font-weight-normal"
                style="font-size: 24px;">Scraping Example</a>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="https://medium.com/@matthew.wimb" target="_blank">Medium</a>
                <a class="p-2 text-dark" href="https://mattdood.com" target="_blank">About the author</a>
            </nav>
        </div>
    </header>
    <div class="container">
    {% block content %}
    {% endblock content %}
    </div>
</body>

</html>