{% extends '_base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <table>
        <tbody>
            {% for a in articles %}
            <tr>
                <td>
                    <a href="{{ a.link }}">{{ a.title }}</a>
                </td>
                <td>
                    <p>
                        Source: {{ a.source }}
                    </p>
                </td>
                <td>
                    <p>
                        Published: {{ a.published }}
                    </p>
                </td>
                <td>
                    <p>
                        Scraped: {{ a.created_at }}
                    </p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}